#form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    z-index: 1;
    &> #topForm {
        font-size: 60px; 
        align-self: center;
    }

    &> #chooseNickname {
        background-color: #ebe8e4;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        &> form {
            align-self: center;
            justify-self: center;
            display: grid;
            grid-template-rows: 50% 50%;
            &> input {  
            }
    
            &> button {
                margin-top: 2vw;
                justify-self: center;
                width: 50%;
            }
        }
        
    }
}

