#header {
    background: #B0ADAA;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px; 
}

#header > div:first-child {
    flex-grow: 1; 
}

h1 {
    font-size: 80px; 
}

#header > div:last-child {
    text-align: right; 
}


#header > div:last-child > div {
    color: red;
    font-weight: bold;
    margin-right: 10px;
}