#roomList {
    overflow: auto;
    &> div {
        font-size: 30px;
        text-align: center;
        background-color: #be6944;
        border: 2px solid black;
        border-top: none;
        border-left: none;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    &> ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        &> li {
            width: 80%;
            margin: 0 auto;
            margin-top: 2vh;
            margin-bottom: 1vh;
            border-radius: 15px;
            background: #A3ADBF;
            overflow: hidden;
            padding: 2vh;
            font-size: 20px;
            display: grid;
            grid-template-columns: 90% 10%;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            transition: background 0.3s ease;

            &> div:first-child {
                height: 100%;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                display: flex;
                
                &>p {
                    width: 100%;
                    text-align: center;
                    align-self: center;
                }
            }

            &> div:nth-child(2) {
                justify-self: center;
            }

            &:hover {
                background: #443F3E; 
            }
        }
    }
}