#userList {
    overflow: auto;
    &> div {
        font-size: 30px;
        text-align: center;
        background-color: #be6944;
        border: 2px solid black;
        border-top: none;
        border-left: none;
    }

    &> ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        
        &> li {
            width: 60%;
            text-align: center;
            margin: 0 auto;
            margin-top: 2vh;
            margin-bottom: 1vh;
            border-radius: 15px;
            background: #A3ADBF;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 2vh;
            font-size: 20px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            
            &> div {
                font-weight:600;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &> img {
                width: 80%;
                height: auto;
                align-self: center;
                justify-self: center;
            }
        }
    }
}